body {
    font-family: Arial, sans-serif;
    background-color: #0b0f1a;
    color: #e6f1ff;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    color: #06B6D4;
    margin-top: 20px;
    margin-bottom: 10px;
}


.logo {
    width: 160px;
    height: 95px;
    margin-top: 30px;
}


.tagline {
    color: #06B6D4;
    margin-bottom: 20px;
}


.card {
    background: #1a2130;
    width: 60%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,198,255,0.2);
    text-align: left;
}


.card ul {
    padding-left: 20px;
}


button {
    padding: 12px 25px;
    margin: 10px;
    background: linear-gradient(135deg, #4F46E5, #06B6D4);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #4338CA, #0891B2);
}


.footer {
    background: #1a2130;
    padding: 20px;
    margin-top: 40px;
    color: #06B6D4;
}